/* Page Rules */
html {
  background-color: #F64740;
}

.uk-section {
  text-align: center;
}

/* Navigation */
a, a:any-link {
  text-decoration: none;
  color: black !important;
}

a:hover {
  color: white !important;
}

/* Home */
.heart {
  color: red;
}

/* button */
.uk-button {
  background-color: #F64740;
}

/* Footer */
footer {
  color: black;
  text-align: center;
  font-size: 20px;
}